body {
	background-color: white;
    text-align: center;
}

button {
	font-size: 24px;
	padding: 12px 24px;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
